<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Farmtech_WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Farmtech_WEB.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <!-- Barra de Navegação Vertical -->
        <nav class="navbar navbar-light bg-white border-right box-shadow" style="width: 200px; min-height: 100vh;">
            <div class="container-fluid flex-column">
                <a class="navbar-brand mb-4" asp-area="" asp-controller="Home" asp-action="Index">Farmtech_WEB</a>
                <ul class="navbar-nav flex-column"> <!--Ul significa lista não ordenada (sem numero antes do item)-->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                    
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Usuario">Usuario</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Vender">Vender</a>
                    </li>
                    
                    <!--li significa list item, item de uma lista ul-->
                    <!--Inicio da copia do molde-->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Molde">Molde</a>
                    </li>
                    <!--Fim da copia do molde-->
                    
                </ul>
            </div>
        </nav>

        <!-- Conteúdo da Página -->
        <div class="container-fluid" style="flex-grow: 1; padding-left: 20px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted mt-3">
        <div class="container">
            &copy; 2024 - Farmtech_WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>