@{
    ViewData["Title"] = "Clientes";//Substituir molde por nome da tela
    <link href="~/css/Cliente.css" rel="stylesheet" media="all">
    <link href="~/css/site.css" rel="stylesheet" media="all">
}

<div style="background-color: #99d080;margin-bottom:1rem; margin-left:0px; width:stretch" class="d-flex flex-row">
    <img src="~/Imagens/Grandes/Clientes.png" style="margin-left: 1rem;width:40px; height:40px; margin: 5px; margin-right: 20px" alt="Alternate Text" /> <h2 style="margin-top:5px">Clientes</h2>
</div>

<button class="incluir btn btn-light border border-dark" style="margin-left:1.5rem;"></button>
<button class="excluir btn btn-light border border-dark" style="margin-left:1.5rem;"></button>
<button class="alterar btn btn-light border border-dark" style="margin-left:1.5rem;"></button>
<div id="tbContainer" class="container border border-dark " style="width:auto; height:100%;margin:1.5rem; padding: 0px; border-radius:10px;">
<table id="clienteTabela"  class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>CPF</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Nascimento</th>
            <th>Genero</th>
            <th>Rua</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
        </tr>
    </thead>
    <tbody>
            <!-- Linhas serão adicionadas via JS -->
    </tbody>
</table>
</div>
<script src="~/js/Cliente.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>