@{
    ViewData["Title"] = "Molde";//Substituir molde por nome da tela
    <link href="~/css/Molde.css" rel="stylesheet" media="all">
}

<h1>@ViewData["Title"]</h1>
<button></button>
</p><!--Substituir molde por nome da tela-->
