@{
    ViewData["Title"] = "Vender";//Substituir molde por nome da tela
    <link href="~/css/Vender.css" rel="stylesheet" media="all">
    
}
<div>
    <h1>@ViewData["Title"]</h1>
</div>
<div class="container border border-secondary">

    <!--primeira fileira-->
    <div class="row align-items-lg-start" style="height: 23%; margin-bottom:0px;">

        <!--Esquerda-->
        <div class="d-flex border border-primary align-items-start flex-column col-9" style="height:100%;">
            <select class="w-50">
                <option value="value">-Escolha um cliente</option>
                <option value="value">Jorge</option>
                <option value="value">Abilio</option>
                <option value="value">Noralma</option>
                <option value="value">Ciliano</option>
            </select>
            <div class="justify-content-end" style="margin-top:4rem">
                <button class="incluir" onclick="addItem()"></button>
                <button class="excluir"></button>
            </div>            
        </div>        
        
        
        <div class="border border-primary col-3 d-flex flex-column" style="height:100% ;padding-top:5px;padding-bottom: 4px">
            <!--ENTREGA-->
            <div class="d-flex flex-row justify-content-end mb-2 w-100">
                <label>Entrega</label>
                <select class="campos-vender">
                    <option value="value">Retirada</option>
                    <option value="value">Entrega</option>
                </select>
            </div>
            <!--PAGAMENTO-->
            <div class="d-flex flex-row justify-content-end mb-2 w-100">
                <label class= "mb-0 mr-2">Pagamento</label>
                <select class="campos-vender">
                    <option value="value">Credito</option>
                    <option value="value">Débito</option>
                    <option value="value">Dinheiro</option>
                    <option value="value">PIX</option>
                </select>
            <!--CUPOM-->
            </div>
            <div class="d-flex flex-row justify-content-end mb-2 w-100">
                <label class="mb-0 mr-2">Cupom</label>
                <input id="cupom" type="text" class="input form-control campos-vender">
            </div>             
        </div>         
    </div>

    <!--Segunda fileira-->
        <div class="row align-items-lg-start mb-3" style="height: 77%; margin-top:0px;">

            <!--Esquerda-->
        <div id="lista-itens" class="m-0 d-flex border border-success align-items-start flex-column col-9"
             style="height: 100%; overflow-y: scroll">
             <!--
            <span class="d-flex flex-row item-span mt-1">
                <input class="check-item centralizar" style="margin-left: 1rem; margin-right: 0.5rem" type="checkbox"></input>
                <select class="centralizar" style="height: 80%; width:45%; border-radius:5px; margin-right: 5%;">
                    <option value="value">Alface</option>
                    <option value="value">Tomate</option>
                    <option value="value">Beringela</option>
                    
                </select>
                <label class="centralizar texto-itens">Preço Un</label>
                <input type="text"
                       disabled
                       value="R$ 4,98"
                       class="centralizar campos-itens" />
                <label class="centralizar texto-itens">Quant.</label>
                <input type="text"
                       disabled
                       value="Kg 2,50"
                       class="centralizar campos-itens" />
                <label class="centralizar texto-itens">Total</label>

                <input type="text"
                       disabled
                       value="R$ 30,00"
                       class="centralizar campos-itens" />
            </span>
            -->
        </div>
            <!--Direita-->
                <div class="p-2 border border-warning col-3 d-flex flex-column"style="height:100%;">
                    <!--Subtotal-->
                        <div class="d-flex flex-row justify-content-end mb-2 w-100">
                            <label class="mb-0 mr-2">Subtotal</label>
                            <input id="subtotal" type="text" disabled value="R$ 50,00" class="input form-control campos-vender">
                        </div>
                    <!--Frete-->
                        <div class="d-flex flex-row justify-content-end mb-2 w-100">
                            <label class="mb-0 mr-2">Frete</label>
                            <input id="frete" type="text" disabled value="R$ 10,00" class="input form-control campos-vender">
                        </div>
                    <!--Desconto-->
                        <div class="d-flex flex-row justify-content-end mb-2 w-100">
                            <label class="mb-0 mr-2">Desconto</label>
                            <input id="desconto" type="text" disabled value="R$ 5,00" class="input desconto form-control campos-vender">
                        </div>
                        <div class="d-flex flex-row justify-content-end mb-2 w-100">
                            <label class="mb-0 mr-2">Total</label>
                            <input id="desconto" type="text" disabled value="R$ 55,00" class="input form-control campos-vender">
                        </div>
                        <div style="font-size: 0.75rem">
                            Vendedor
                        <div style="border: 1px solid black; font-size: 1rem;"><img src="~/Imagens/Grandes/Foto usuario.png" style="height: 35px; width:35px; margin-right: 1rem;">Nome do usuario</div>
                        <button class="confirmar"></button>
                        <button class="cancelar"></button>
                        </div>
                        

                </div>
         </div>
</div> 
<script src="~/js/Vender.js" asp-append-version="true"></script>



