@{
    ViewData["Title"] = "Vender";//Substituir molde por nome da tela
    <link href="~/css/Vender.css" rel="stylesheet" media="all">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    
}
<div style="background-color: #99d080" class="d-flex flex-row">
    <img src="~/Imagens/Grandes/Vender.png" style="width:40px; height:40px; margin: 5px; margin-right: 20px" alt="Alternate Text" /> <h2 style="margin-top:5px">Vender</h2>
</div>

<div class="container border border-secondary">

    <!--primeira fileira-->
    <div class="row align-items-lg-start" style="height: 23%; margin-bottom:0px;">

        <!--Esquerda-->
        <div class="d-flex border border-dark align-items-start flex-column col-9" style="height:100%; background-color: #ebfce7">
            <select id="select-cliente" class="w-50" style="margin-top: 10px">
                <option value="value">-Escolha um cliente</option>
                <option value="value">Jorge</option>
                <option value="value">Abilio</option>
                <option value="value">Noralma</option>
                <option value="value">Ciliano</option>
            </select>
            <div class="justify-content-end" style="margin-top: 3.5rem">
                <button id="btnIncluir" class="incluir border border-dark" style="height: 2rem;width: 4rem; margin-right: 1rem"></button>
                <button class="excluir border border-dark" style="height: 2rem;width: 4rem;"></button>
            </div>            
        </div>        
        
        <!--Direita-->
        <div class="border border-dark col-3 d-flex flex-column" style="height:100% ;padding-top:5px;padding-bottom: 4px;background-color: #ebfce7">
            <!--ENTREGA-->
            <div class="d-flex flex-row justify-content-end mb-2 w-100">
                <label>Entrega</label>
                <select id="select-frete"class="campos-vender">
                    <option value="value">Retirada</option>
                    <option value="value">Entrega</option>
                </select>
            </div>
            <!--PAGAMENTO-->
            <div class="d-flex flex-row justify-content-end mb-2 w-100">
                <label class= "mb-0 mr-2">Pagamento</label>
                <select id="select-pagto" class="campos-vender">
                    <option value="value">Credito</option>
                    <option value="value">Débito</option>
                    <option value="value">Dinheiro</option>
                    <option value="value">PIX</option>
                </select>
            <!--CUPOM-->
            </div>
            <div class="d-flex flex-row justify-content-end mb-2 w-100">
                <label class="mb-0 mr-2">Cupom</label>
                <input id="cupom" type="text" class="input form-control campos-vender">
            </div>             
        </div>         
    </div>

    <!--Segunda fileira-->
    <div class="row align-items-lg-start mb-3" style="height: 77%; margin-top:0px;background-color:#f6fdf4;">

            <!--Esquerda-->
        <div id="lista-itens" class="m-0 d-flex border border-dark align-items-start flex-column col-9"
             style="height: 100%; overflow-y: scroll">
             <!--
            <span class="d-flex flex-row item-span mt-1">
                <input class="check-item centralizar" style="margin-left: 1rem; margin-right: 0.5rem" type="checkbox"></input>
                <select class="centralizar" style="height: 80%; width:45%; border-radius:5px; margin-right: 5%;">
                    <option value="value">Alface</option>
                    <option value="value">Tomate</option>
                    <option value="value">Beringela</option>
                    
                </select>
                <label class="centralizar texto-itens">Preço Un</label>
                <input type="text"
                       disabled
                       value="R$ 4,98"
                       class="centralizar campos-itens" />
                <label class="centralizar texto-itens">Quant.</label>
                <input type="text"
                       disabled
                       value="Kg 2,50"
                       class="centralizar campos-itens" />
                <label class="centralizar texto-itens">Total</label>

                <input type="text"
                       disabled
                       value="R$ 30,00"
                       class="centralizar campos-itens" />
            </span>
            -->
        </div>
            <!--Direita-->
        <div class="p-2 border border-dark col-3 d-flex flex-column" style="height:100%; background-color: #ebfce7">
                    <!--Subtotal-->
                        <div class="d-flex flex-row justify-content-end mb-2 w-100">
                            <label class="mb-0 mr-2">Subtotal</label>
                            <input id="subtotal" value="00.00" type="number" disabled placeholder="00.00" class="input form-control campos-vender">
                        </div>
                    <!--Frete-->
                        <div class="d-flex flex-row justify-content-end mb-2 w-100">
                            <label class="mb-0 mr-2">Frete</label>
                <input id="frete" value="00.00" type="number" disabled placeholder="00.00" class="input form-control campos-vender">
                        </div>
                    <!--Desconto-->
                        <div class="d-flex flex-row justify-content-end mb-2 w-100">
                            <label class="mb-0 mr-2">Desconto</label>
                <input id="desconto" value="00.00" type="number" disabled placeholder="00.00" class="input desconto form-control campos-vender">
                        </div>
                    <!--Total-->
                        <div class="d-flex flex-row justify-content-end mb-2 w-100">
                            <label class="mb-0 mr-2">Total</label>
                            <input id="total" type="number" disabled placeholder="00.00" class="input form-control campos-vender">
                        </div>

                        <div style="font-size: 1rem; margin-top: 45%;">
                            Vendedor
                <div class="d-flex flex-row" style="border: 1px solid black; font-size: 1rem; padding: 10px; background-color: white"><img src="~/Imagens/Grandes/Foto usuario.png" style="height: 35px; width:35px; margin-right: 1rem;"><h5 style="margin-top: 5px" id="usuario">Funcionário teste</h5></div>
                        
                        <button class="confirmar"style="height: 40px;width: 45%; margin-top: 10px; margin-right: 8%"></button>
                <button class="cancelar" style="height: 40px;width: 45%; margin-top: 10px;"></button>
                        </div>
                        

                </div>
         </div>
</div> 
<script src="~/js/Vender.js" asp-append-version="true"></script>



