html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

button {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    width: 50px;
    height: 25px;
}
.incluir {
    background-image: url('../Imagens/Grandes/Adicionar.png');    
}
.excluir {
    background-image: url('../Imagens/Grandes/Lixeira.png');    
}
.confirmar {
    background-color: #80ca5d;
    background-image: url('../Imagens/Grandes/Confirmar.png')
}
.cancelar {
    background-color: #ea8686;
    background-image: url('../Imagens/Grandes/Cancelar.png')
}
.alterar {
    background-image: url('../Imagens/Grandes/Alterar.png');
}
.col{
    border: solid;
    border-color: black;
}